/* simple neutral styles */
:root{
  --bg:#f8fafc;
}
html,body,#root{height:100%}
body{
  margin:0;
  background:var(--bg);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing:antialiased;
}
